<div class="container font-italic">
  <br />
  <div class="heading">
    <h1 class="Header">List of Widgets</h1>
    <p class="count">Total number of API count: {{ apiCount }}</p>
  </div>
  <br />
  <div class="my-class font-italic">
    <button type="button" class="btn btn-primary" data-bs-toggle="button"
    autocomplete="off" [routerLink]="['/api/widgets/add']">Add New Widget</button>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="font-italic">Widgets</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of widget">
        <td>{{ post.name }}</td>
        <br />
        <td>{{ post.description }}</td>
        <td>
          <a [routerLink]="['/api/widgets', post.id]">View</a>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="getComponents()" [routerLink]="['/api/components/view']">
    Get All Components
  </button>
</div>
