.my-class {
  display: block;
  float: right;
  margin: 10px;
  text-decoration: none;
  color: white;
  font-family: Arial;
}
.Header{
  float: right;
  text-align: center;
}

.heading {
  display: flex;
}

.Header {
  min-width: 1000px;
}

.count {
  margin: 20px 0px 0px 70px;
}
