<div class="container">
  <br>
  <h1>List of Components</h1>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let newComp of ComponentWidget">

        <td><label class="form-label">Id</label>
          <input type="text" class="form-control" name="id" [(ngModel)]="newComp.id" readonly>
        </td>
        <td>{{newComp.name}}</td>
        <br>
        <td>{{newComp.description}}</td>
        <br>
      </tr>
      <td>
        <a [routerLink]="['/api/widgets']">Back</a>
      </td>
    </tbody>
  </table>
</div>
